{% extends 'base_limit.html' %}
{% block content %}

<div class="container" style="position:relative;height:1000px;width:100%;">

        <div style=" background-color:white;box-shadow: 30px 30px 30px 30px white;opacity: 0.4;  position: absolute; top: 120px; left: 15%; height: 820px; width: 770px;"></div>

    <div style="width:100%;position:absolute;top:-40px;left:0px;display:flex;align-items: center;justify-content: center;flex-direction:column;">
        <div><h1 style="margin-top:200px;color:black;font-size:2.5rem;">Enter New User Information:</h1><hr></div>
        <div style="width:30%;color:black;font-size:1.5rem;font-weight:bold;">
            <form class="form" role="form" action="" method="post">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{form.name.label}}
                    {{ form.name(class="form-control")}}
                </div>
                <div class="form-group">
                    {{form.email.label}}
                    {{ form.email(class="form-control")}}
                </div>
                <div class="form-group">
                    {{form.password.label}}
                    {{ form.password(class="form-control")}}
                </div>
                <div class="form-group">
                    {{form.confirm.label}}
                    {{ form.confirm(class="form-control")}}
                </div>
                <div class="form-group">
                    {{form.role.label}}
                    {{ form.role(class="form-control")}}
                </div>
                <div class="form-group">
                    {{form.age.label}}
                    {{ form.age(class="form-control")}}
                </div>
                <div class="form-group">
                    {{form.gender.label}}
                    {{ form.gender(class="form-control")}}
                </div>
                <div style="text-align:center;">
                    {{ form.submit(class="btn btn-primary btn-lg") }}
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock content %}
