{% extends 'base_limit.html' %}

{% block content %}

<div  class="container" style="position:relative;color:black;width:100%;height:1300px;">

        <div class="watch-white"></div>
        <div style="position:absolute;top:15px;left:20px;width:950px;height:730px;">



<!--*************************VIEW COURSES**************************-->
<!-- START THE FEATURETTES -->
<div id="view_courses"></div>

<div style="height:125px;"></div>
<!--<hr class="featurette-divider">-->
<h1 style="margin-left:-100px;">Watch the&nbsp<span class="text-muted"><i>{{class_obj.name}}</i></span>&nbsp Videos! <a class="btn btn-primary" style="width:130px;"   href="{{url_for('main.virtual')}}" >Done!</a></h1>

<!--********************************Watch Videos********************************-->
    <div data-aos="fade-left" data-aos-offset="100"
         data-aos-delay="50"
         data-aos-duration="1000"
         data-aos-easing="ease-in-out"
         data-aos-mirror="true"
         data-aos-once="false"
         data-aos-anchor-placement="top-center" class="col-md-5">
        <div class="tablet watch" >
            <div class="tablet_inner" style="margin-top:10px;display:flex;flex-wrap:wrap;">

 {% for video in class_obj.c_video %}

<div style="padding:20px;">
<video style=width="224" height="168" controls>
  <source src="{{video.video_filename}}" type="video/mp4">
</video>
                      <p>Sequence Number: {{video.sequ_nb}}</p>
</div>
{% endfor %}








            </div>

        </div>
    </div>
</div>
</div>







{% endblock %}
