{% extends 'base_limit.html' %}
        {% block content %}

<div class="divisions-outer">
    <div class="text-logo divisions-title">Women's Division</div>
    <div class="divisions-gallery carousel slide tablet" data-ride="carousel">
        <div  class="divisions-pics carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/static/women1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/static/women6.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/static/women3.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/static/women4.jpg" alt="Fourth slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/static/women5.jpg" alt="Fifth slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="text-logo schedule-title">Women's Class Schedule</div>
    <div class="schedule-outer tablet">
        <img class="schedule-img d-block w-100" src="/static/schedule.jpg">
    </div>
</div>

        {% endblock content %}